.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 var(--max-padding-container);

  &--header {
    transform-style: preserve-3d;
  }

  &--options {
    // position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: min-content min-content 1fr min-content;
    gap: 0.625rem;

  }
}